/*-------------NAVBAR----------------*/
nav {
  height: 100px;
  background-color: lightblue;
  box-shadow: 2px 2px 2px 2px rgba(211, 211, 211, 0.8);
}

nav li {
  display: inline-block;
  padding-right: 20px;
  line-height: 100px;
  vertical-align: middle;
}

.nav-ul {
  padding-left: 20px;
}

.link {
  font-size: 1.5em;
  color: white;
}


/*--------------------------------------------------------*/
.list-top {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.container-thirds {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 30px;
  height: 400px;

}

.list-item-big img {
  height: 150px;
  width: auto;
}


.list-bottom {
  padding: 0;
  margin-top: 75px;
  list-style-type: none;
}

.list-item-small {
  list-style-type: none;
  text-align: center;
  margin-bottom: 40px;
}

.list-item-small img {
  height: 75px;
  width: auto;
  margin: 0 auto;
  width: auto;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.list-item-small img:hover {
  box-shadow: 1px 1px 3px 1px rgba(111, 111, 111, 0.6) ;
  cursor: pointer;
}







