body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  box-style: border-box;
}

.list-item img {
  height: 75px;
}

.list-item-big img {
  height: 50%;
}

.list-top {
  text-align: center;
  list-style-type: none;
}
